#!/bin/bash

# Galaxy startup script
#
# ELIXIR-ITALY
# INDIGO-DataCloud
# IBIOM-CNR

# Contributors:
# author: Tangaro Marco
# email: ma.tangaro@ibiom.cnr.it

## Uncomment and edit this line to refer to galaxy's path:
GALAXY='{{ galaxy_install_path }}'
timeout=600

#______________________________________
# Load Galaxy environment

echo "Loading Galaxy environment"
cd ${GALAXY}
. ${GALAXY}/.venv/bin/activate

#______________________________________
# Define start function
# (supervisord or systemd/upstart)
function start_galaxy {
  
  echo "Starting the Galaxy production environment"
  /usr/bin/galaxyctl startup galaxy -c {{ galaxy_config_file }} -t $timeout

}

#______________________________________
# Start Galaxy production environment
start_galaxy
